@import "tailwindcss";

@theme {
  --color-neutral-950: #0a0a0a;
  --color-neutral-50: #fafafa;
}

body {
  @apply bg-neutral-950 text-neutral-50 antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-stone-300 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-stone-400;
}